* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

table,
th,
td {

    border-collapse: collapse;

}

th,
td {
    padding: 20px 30px;
    text-align: center;
}

#animal-table {

    text-align: center;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.725);

    border-radius: 20px;
    margin: auto;
    width: 95%;

}

/* descendent selector: select all the tr tag inside the animal-table id */

#animal-table tr {


    border-radius: 20px;

}

#animal-table tr:nth-child(odd) {
    background-color: rgba(190, 189, 189, 0.308);
    background-color: #0000000b;
}

#animal-table tr:hover {
    background-color: whitesmoke;
    color: black;
    cursor: grabbing;
}

button {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    transition: all;

}

button:hover {
    background-color: rgb(179, 93, 93);
    color: black;
    cursor: pointer;
    scale: 1.1;
}

.Delivered {
    background-color: greenyellow;
    color: green;
}

.shift {
    background-color: skyblue;
}

.Cancelled {
    background-color: rgb(243, 170, 170);
    color: red;
}

.Pending {
    background-color: orange;
}

.dp {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.customer-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

#animal-table td:last-child {
    font-weight: bold;
}

.container {
    background-color: rgba(255, 255, 255, 0.408);
    margin: 40px auto;
    border-radius: 10px;
    width: 70%;
    height: 100;
    margin: auto;
    padding-bottom: 30px;



}

.header {
    background: rgba(255, 255, 255, 0.518);
    color: #222;
    padding: 18px 0 10px 18px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}



.header h2 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}



.card {

    border-radius: 20px;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;

}

body {
    min-height: 100vh;
    background: url("html_table.jpg") center / cover;

    justify-content: center;
    align-items: center;
}